*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.gradle
/.idea
/.settings
/app/*.properties
/printtooth/build/kotlin
/printtooth/build
/app/debug
