<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="za.co.topitupkeyboard"

    android:versionCode="1"
    android:versionName="1.45">

    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name="za.co.topitupkeyboard.utils.Topitup"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="TIU Keyboard"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup,android:label">


        <activity
            android:name="za.co.topitupkeyboard.activitySplashScreen"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="TIU Keyboard"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <!--     <category android:name="android.intent.category.HOME" />-->

            </intent-filter>

        </activity>
        <activity
            android:name="za.co.topitupkeyboard.activity_login"
            android:label="TIU Keyboard"
            android:theme="@style/AppTheme.FullScreen" />

        <activity
            android:name="za.co.topitupkeyboard.BaseActivity"
            android:label="Base Activity TIU"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name="za.co.topitupkeyboard.BaseAdminActivity"
            android:label="Base Activity TIU"
            android:theme="@style/AppTheme.FullScreen" />

        <receiver
            android:name="za.co.topitupkeyboard.utils.ScreenStateReceiver"
            android:enabled="true"
            android:exported="true">


            <intent-filter>
                <action android:name="android.intent.action.ACTION_SCREEN_OFF" />
                <action android:name="android.intent.action.ACTION_SCREEN_ON" />
                <action android:name="android.intent.action.ACTION_BATTERY_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>


        <!--
        <receiver android:name=".utils.BootReceiver">
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        -->


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

<!--                <service android:name="com.iposprinter.iposprinterservice.IPosPrintService" />-->
        <service
            android:name="za.co.topitupkeyboard.utils.EDMTKeyboard"
            android:exported="true"
            android:label="TIUKeyboard"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
            <meta-data
                android:name="android:theme"
                android:resource="@style/KeyboardTheme" />
        </service>
    </application>

</manifest>